<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://samplepravufuncapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f/resourceGroups/V-Pravallika-Mindtree/providers/Microsoft.Web/sites/samplepravufuncapp</ResourceId>
    <UserName>$samplepravufuncapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://samplepravufuncapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>